// animation
.animate {
    -webkit-animation: animateZoom 0.6s;
    animation: animateZoom 0.6s;
}

@-webkit-keyframes animateZoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animateZoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
$avatar-grey--light: #f2f2f2;
$avatar-grey--dark: #999;
$avatar-grey--darker: #606161;

.header {
    height: 6%;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    p {
        margin: 0 2rem;
        font-weight: bold;
        font-size: 20px;
    }
    .headerBtnClose {
        margin: 0 1rem;
        font-weight: 100;
        &:hover {
            background-color: #ebebeba9;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}
.headerChild {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    .headerBtnCloseChild {
        margin: 0 1rem;
        font-weight: 100;
        &:hover {
            background-color: #ebebeba9;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}
.container {
    height: 94%;
    display: flex;
    .containerLeft {
        width: 30%;
        margin: 30px;
        position: relative;
        overflow: hidden;
        width: 105px;
        height: 105px;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 70%;
            height: 44%;
            margin: 0 0 0 -35%;
            border-radius: 100% 100% 0 0;
        }
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 19%;
            width: 40%;
            height: 40%;
            margin: 0 0 0 -20%;
            border-radius: 50%;
        }
        background-color: $avatar-grey--light;
        border-radius: 50%;
        &::before {
            background-color: $avatar-grey--dark;
        }
        &::after {
            background-color: $avatar-grey--dark;
            box-shadow: 0 0 0 4px $avatar-grey--light;
        }
    }

    .containerRight {
        width: 70%;
        padding: 30px;
        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}
.containerChild {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    input {
        width: 80%;
        background: transparent;
        display: block;
        outline: none;
        color: #1f2727;
        border: 0;
        border-bottom: 1px solid #1f2727;
        margin: 20px 0px;
        &::placeholder {
            color: #1f2727;
        }
        &:focus::placeholder,
        &:focus::-webkit-input-placeholder {
            position: relative;
            font-size: 12px;
            color: #1f272780;
        }
        &::-webkit-input-placeholder {
            transition: 0.5s;
            color: #1f2727;
        }
    }
}
#childModalTitle {
    cursor: pointer;
    transition: all 0.2s ease;
    color: #93e1f5;
    &:hover {
        opacity: 0.8;
    }
}
