@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noticia+Text&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.animate {
    -webkit-animation: animateZoom 0.6s;
    animation: animateZoom 0.6s;
}

@-webkit-keyframes animateZoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animateZoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}
.album {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:after,
        &:before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
    input,
    span,
    button,
    ::placeholder,
    a,
    form,
    ::-webkit-input-placeholder {
        transition: 0.4s;
    }
    font-family: "Source Sans 3", sans-serif !important;
    margin-top: calc(80px + 3rem);
    .createAlbum {
        border-radius: 8px;
        background-color: #d3d3d3;
        width: 260px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        &:hover {
            opacity: 0.92;
            transform: scale(0.98);
        }
    }
    .createAlbumTitle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5px;
    }
    .image {
        width: 260px;
        position: relative;
        transition: all 0.2s ease-in-out;
        button {
            all: unset;
            position: absolute;
            top: -8px;
            right: 12px;
            padding: 0;
            margin: 0;
            .deleteIcon {
                border-radius: 50%;
                transition: all 0.2s ease-in-out;
                &:hover {
                    color: #5a5a5a;
                }
            }
            svg {
                color: #000;
                font-size: 20px;
            }
            &::before {
                content: attr(data-title);
                position: absolute;
                top: 1.35rem;
                right: -2rem;
                background-color: #000;
                color: #fff;
                padding: 4px;
                border-radius: 4px;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.2s;
                white-space: nowrap;
                z-index: 10000;
            }
            &:hover::before {
                width: fit-content;
                visibility: visible;
                opacity: 1;
            }
        }
        &:hover {
            opacity: 0.92;
            transform: scale(0.98);
        }
    }
    .imageTitle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span {
            margin: 0;
            padding: 0;
            outline: none;
            font-weight: bold;
            font-size: 20px;
            overflow: hidden;
            height: max-content;
            width: calc(260px);
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 6px;
            transition: all 0.2s ease-in-out;
            background: transparent;
            &:hover {
                background-color: #a2a2a26e;
            }
            &:focus {
                border: 1px solid #333;
                background-color: unset;
                cursor: text;
            }
            &:active {
                cursor: text;
            }
        }
        p {
            padding: 0 6px;
        }
    }
}
