.animate {
  -webkit-animation: animateZoom 0.6s;
  animation: animateZoom 0.6s;
}

@-webkit-keyframes animateZoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animateZoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.signUpForm,
.signInForm {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:after,
    &:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  input,
  button,
  ::placeholder,
  a,
  form,
  ::-webkit-input-placeholder {
    transition: 0.5s;
    color: #eee8e8;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: url("https://andreivictor.ro/codepen/scroll-bg-animation-pinterest/bg_pasta_grid-3f880df3.jpg");
  background-size: cover;
  background-repeat: repeat;
  animation: animatedBackground 60s linear infinite;
  form {
    width: 500px;
    box-shadow: 0px 6px 16px -6px #01010180;
    border-radius: 20px;
    background: #01010180;
    padding: 30px;
    text-align: center;
    position: relative;
    &:hover {
      background: #010101cc;
    }
  }
  input {
    width: 90%;
    padding: 10px;
    background: transparent;
    display: block;
    outline: none;
    border: 0;
    border-bottom: 1px solid #ffffff80;
    margin: 20px 0px;
    &:hover {
      border-bottom: 1px solid #ffffff;
    }
    &:focus {
      &::placeholder,
      &::-webkit-input-placeholder {
        position: relative;
        font-size: 12px;
        color: #ffffff80;
      }
    }
    &[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      margin: 10px 0;
      padding: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #ccc;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 20%;
        left: 15%;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
    }
    &[type="checkbox"]:checked::before {
      opacity: 1;
    }
  }
  div.gender {
    display: flex;
    justify-content: flex-start;
    margin: 0 20px;
    padding: 0 10px 5px;
    border-bottom: 1px solid #ffffff80;
    transition: all 0.2s ease-in-out;
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
  .signUpBtn,
  .signInBtn {
    width: 150px;
    padding: 10px 20px;
    margin: 20px 0px;
    text-align: center;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 1000px;
    color: #fff;
    outline: none;
    display: block;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      transform: scale(0.96);
      transition: unset;
    }
  }
}

.signUpForm form section,
.signInForm form section {
  width: 100%;
  margin: 40px 0;
  span {
    width: 50%;
    a:hover {
      color: #ffffff80;
    }
    &:nth-child(1) {
      float: left;
    }
    &:nth-child(2) {
      text-align: right;
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media (max-width: 720px) {
  .signUpForm,
  .signInForm {
    form {
      min-width: 90%;
    }
    a {
      font-size: 14px;
    }
  }
}
