@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
}

.container {
  margin-top: 120px;
  margin-bottom: 16px;
}

.miniHeader {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;

  &:before,
  &:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }

  &:before {
    margin-right: 20px;
  }

  &:after {
    margin-left: 20px;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
}

.title {
  font-size: 36px;
  font-family: "Lobster", sans-serif !important;
  display: flex;
  flex-direction: row;
}

.albumContainer {
  margin: 32px 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.moreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  // background-color: #0a6bff;
  // color: #fff;
  background-color: bisque;
  color: #333;
  border-radius: 1000px;
  border: 0;
  box-shadow:
    rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset,
    rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);

  &:hover {
    background-color: #065dd8;
    // background-color: bisque;
    color: #fff;
    transform: translateY(-2px);
  }
}

@media (min-width: 768px) {
  .moreBtn {
    padding: 12px 38px;
    min-width: 150px;
  }
}

/* 
@media only screen and (max-width: 900px) {
  .main {
    padding-top: 10%;
  }
}
@media only screen and (max-width: 500px) {
  .main {
    padding-top: 15%;
  }
}
@media only screen and (max-width: 400px) {
  .main {
    padding-top: 10%;
  }
} */
