.main {
  display: flex;
  padding-top: 5%;
  min-height: 100vh;
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .main {
    padding-top: 10%;
  }
}
@media only screen and (max-width: 500px) {
  .main {
    padding-top: 15%;
  }
}
@media only screen and (max-width: 400px) {
  .main {
    padding-top: 10%;
  }
}
