.BlogContainer{  
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}
.travel-blog {
  font-weight: bold;
  font-size: 30px;
  .travel {
    color: #3B82F6;
  }
}
.title{
    font-weight: bold;
    color: #3B82F6;  
    margin-bottom: 0.5rem;
}
.Email{
    margin-top: 20px;
}
.SignupBtn{
    background-color:#48b931 ;
    border: none;
    border-radius: 8px;
    margin: 15px;
    padding: 15px 30px 15px 30px;
    font: bold;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  .LoginBtn{
    background-color:#1f7bf2;
    border: none;
    border-radius: 8px;
    margin: 15px;
    padding: 15px 30px 15px 30px;
    font: bold;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }