.adWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ad {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.adDetails {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
